@import '../../styles.css';

.width-inherit {
  width: 100%;
}

.red {
  color: red;
}

.size-inherit {
  height: inherit;
  width: inherit;
}

.margin-top-15 {
  margin-top: 20px;
}

.margin-0 {
  margin: 0;
}

.selected-dish {
  border-radius: 5px;
  padding: 5px;
  transform: scale(1, 1);
  transition: transform .2s;
}
