<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%">

  <mat-card class="login-card">
    <mat-card-title>Enter Credentials</mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
        <input [(ngModel)]="userName" matInput placeholder="User Name">

        <input [(ngModel)]="password" matInput type="password" placeholder="Password"/>

        <button mat-button (click)="onSignIn()">Sign in</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

