<mat-tab-group style="height: 100%">
  <mat-tab label="Show Dishes" class="padding-10">

    <div class="padding-20" fxLayout="column" fxLayoutGap="20px">

      <span *ngIf="dishes?.length==0">No Dishes Added</span>

      <span class=" red" *ngIf="dishes!=null && dishes?.length<7">
      Add at least 7 Dishes to make this service available for Customers
      </span>

    </div>

    <app-dish-grid [dishes]="dishes" [allowDelete]="true" (invalidateDishesData)="invalidateDishes()"></app-dish-grid>

  </mat-tab>

  <mat-tab label="Add Dishes">
    <div fxLayout="column" fxLayoutAlign="start center">
      <mat-card class="login-card margin-5">

        <div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;width: 100%">

          <mat-card-title style="border-bottom: 1px #CCCCCC;">Add Dish</mat-card-title>

          <mat-card-content fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <img id="imgDish" style="height: 100px;width: 100px" src="{{img}}"/>

              <input #fileChooser (change)="onImagePicked($event)" type="file" accept="image/*">
            </div>

            <mat-form-field>
              <input matInput type="text" placeholder="Dish Name" [(ngModel)]="dish.name">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="Price" [(ngModel)]="dish.price">
            </mat-form-field>

            <mat-radio-group [(ngModel)]="dish.type" fxLayoutGap="20px">
              <mat-radio-button value="Starter">Starter</mat-radio-button>
              <mat-radio-button value="Main Course">Main Course</mat-radio-button>
            </mat-radio-group>

            <button style="background-color: orange" mat-button (click)="addDish()">Add Dish</button>
          </mat-card-content>

        </div>

      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
