/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

h2 {
  color: #444;
  font-weight: lighter;
}

.body-margin {
  margin: 2em;
}

body, input[text], button {
  color: #888;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

button {
  padding: 0.2em;
  font-size: 14px
}

* {
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

.padding-20 {
  padding: 20px;
}

.size-inherit {
  height: 100%;
  width: 100%;
}

.font-small {
  font-size: small;
}

.height-inherit {
  height: 100%;
}

.margin-5 {
  margin: 5px;
}

.padding-10 {
  padding: 20px;
}

.opacity-6 {
  opacity: .6;
}

.login-card {
  width: 40%;
}

.background-orange {
  background: orange;
}

.font-x-large {
  font-size: x-large;
}

.margin-top-20 {
  margin-top: 20px;
}

